  a {
    color: #fff;
  }

  a:visited {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }

  .numericDataColumn {
    text-align: center;
  }

  .genderDiversityCell {
    font-weight: bold;
  }

  .confTable {
    padding-left: 20px;
    padding-right: 20px;
  }

  .confTableRow {
    padding-top: 2px;
    padding-left: 6px;
    border-top: 4px solid #000;
    line-height: 95%
  }

  .percentageCohortA {
    composes: numericDataColumn;
    composes: genderDiversityCell;
    background-color: white;
    color: black;
  }

  .percentageCohortB {
    composes: numericDataColumn;
    composes: genderDiversityCell;
    background-color: green;
    color: white;
  }

  .percentageCohortC {
    composes: numericDataColumn;
    composes: genderDiversityCell;
    background-color: blue;
    color: white;
  }

  .percentageCohortD {
    composes: numericDataColumn;
    composes: genderDiversityCell;
    background-color: orange;
    color: black;
  }

  .percentageCohortE {
    composes: numericDataColumn;
    composes: genderDiversityCell;
    background-color: fuchsia;
    color: black;
  }

  .percentageCohortF {
    composes: numericDataColumn;
    composes: genderDiversityCell;
    background-color: red;
    color: white;
  }

  .percentageCohortATrans {
    composes: confTableRow;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
  }

  .percentageCohortBTrans {
    composes: confTableRow;
    background-color: rgba(0, 255, 0, 0.2);
    color: white;
  }

  .percentageCohortCTrans {
    composes: confTableRow;
    background-color: rgba(0, 0, 255, 0.3);
    color: white;
  }

  .percentageCohortDTrans {
    composes: confTableRow;
    background-color: rgba(255, 165, 0, 0.4);
    color: white;
  }

  .percentageCohortETrans {
    composes: confTableRow;
    background-color: rgba(255, 0, 255, 0.4);
    color: white;
  }

  .percentageCohortFTrans {
    composes: confTableRow;
    background-color: rgba(255, 0, 0, 0.30);
    color: white;
  }
